body{
  margin:0;
  padding:10px;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  position:relative;
  background:url("../images/fresh-orange.gif") no-repeat #fefefe;
  background-position: 90% 0px;
}

h1{
  text-align:center;
}

h1,h2{
  color:#555;
}

ul{
list-style:square;
}

ul li{
  margin:10px 0px;
}

pre.prettyprint{
  background:#EEE;
  padding:10px;
}

.highlight{
  color:#600101;
  padding:5px;
  font-size:1.1em;
}

a{
  text-decoration:none;
}

h1 + p{
  text-align:center;
}

.download{
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  background:none repeat scroll 0 0 #08B0E8;
  color:white;
  font-size:1.2em;
  padding:10px;
  text-shadow:1px 2px 3px #535454;
}

.note{
  color:red;
}

.highlight:before{
  content:'{';
  color:#600101;
  font-size:1.2em;
}

.highlight:after{
  content:'}';
  color:#600101;
  font-size:1.2em;
}

.focus{
  border-top:3px solid #600101;
  border-bottom:3px solid #600101;
  padding:5px;
}