#turn_wrapper {
  position: absolute;
}

#turn_object{
  position:relative;
}

#turn_hideme {
	width: 80%;
	height: 80%;
	overflow: hidden;
  position:absolute;
}

#turn_fold {
	width: 100%;
	height: 100%;
	z-index: 999;
	position: relative;
}

/* CSS top-right */
#turn_wrapper.top-right, .top-right #turn_hideme{
  top:0px;
  right:0px;
}

.top-right #turn_hideme img{
  position: absolute;
  top:0px;
  right:0px;
}

.top-right #turn_fold{
  -moz-transform : rotate(90deg);
  -webkit-transform : rotate(90deg);
}

/* CSS bottom-right */
#turn_wrapper.bottom-right, .bottom-right #turn_hideme{
  bottom:0px;
  right:0px;
}

.bottom-right #turn_hideme img{
  position: absolute;
  bottom:0px;
  right:0px;
}

.bottom-right #turn_fold{
  -moz-transform : rotate(180deg);
  -webkit-transform : rotate(180deg);
}

/* CSS bottom-left */
#turn_wrapper.bottom-left, .bottom-left #turn_hideme{
  bottom:0px;
  left:0px;
}

.bottom-left #turn_hideme img{
  position: absolute;
  bottom:0px;
  left:0px;
}

.bottom-left #turn_fold{
  -moz-transform : rotate(270deg);
   -webkit-transform : rotate(270deg);
}

/* CSS top-left */
#turn_wrapper.top-left{
  top:0px;
  left:0px;
}

/* the jQuery CSS Framework */
#turn_wrapper .ui-resizable { position: relative;}
#turn_wrapper .ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; background-image: url(#none)}
#turn_wrapper .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 0; bottom: 0; }
#turn_wrapper .ui-resizable-sw { cursor: sw-resize; width: 12px; height: 12px; left: 0; bottom: 0; }
